div.ui-bar(data-role='footer', data-position='fixed')
  div.ui-grid-b
    div.ui-block-a
      a.ui-btn-left(href='#info-dialog', data-role='button', data-icon='info', data-rel='dialog') About
    div.ui-block-b
    div.ui-block-c( style="text-align:right;")
      a.ui-btn-right(href='http://www.slideshare.net/eusholli/a-new-waytoseetheworld-11048242', data-role='button', data-icon='info', rel='external') AT&T and Ericsson


