div(data-role='header')
  h1 Node Phone
  a#logout-btn.ui-btn-right(href='#', data-role='button', data-icon='delete') Logout
  div(data-role='navbar')
    ul
      li
        a.basic(href='/basic', rel="external", data-theme="a") Basic
      li
        a.pages(href='/pages', rel="external", data-theme="a") Pages
      li
        a.cbar(href='/cbar', rel="external", data-theme="a") C-Bar

