!!! 5
html
  head
    title='AT&T, Ericsson Node Phone'
    meta(charset = 'utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel="stylesheet", href="https://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src = 'https://code.jquery.com/jquery-1.7.1.min.js')
    script(src = 'https://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js')
    script(src = '/javascript/utils.js')
    script(src = '/javascript/att.js')
  body!= body
