div#index(data-role='page')
  div(data-role='header')
    h1 Welcome to Noded Voice
    a.ui-btn-right(href='/auth', rel="external", data-icon='plus') Login

  div#splash()
    h2 Re-Think Possible!
    img(src="/images/att-logo.jpg", alt="Re-Think Possible")

  div.ui-bar(data-role='footer', data-position='fixed')
    a(href='#info-dialog', data-icon='info', data-rel='dialog') About

div#info-dialog(data-role='page')
  div(data-role='header')
    h1 About
  div(data-role='content')
      p
        | Come play with WebRTC and REAL phone numbers with AT&T and Ericsson.  For more see http://js.att.io and http://apimatrix.tfoundry.com.  For the source repo to this application please see http://github.com/att-innovate/node-phone.  Come re-think possible where communicating is something we do while doing something else...

