div#index(data-role='page')
  div(data-role='header')
    h1 Welcome to Noded Voice
    a.ui-btn-right(href='/auth', rel="external", data-icon='plus') Login

  div#splash()
    img(src="/images/tfgLogo.jpeg", alt="Think Create Share")

  div.ui-bar(data-role='footer', data-position='fixed')
    a(href='#info-dialog', data-icon='info', data-rel='dialog') About

div#info-dialog(data-role='page')
  div(data-role='header')
    h1 About
  div(data-role='content')
      p
        | This example app uses module passport-att-alpha to handle oauth with AT&T alpha API program at http://apimatrix.tfoundry.com It then uses the WebRTC API's to enable WebRTC calling from a browser. See https://github.com/att-innovate/noded-voice for more details

