script
  var accessToken = "#{accessToken}";
  var selfNumber = "#{selfNumber}";
//
   /page one 
//
   Start of first page: #one 
#logging-in(data-role='page', data-theme='a')
  div(data-role='header')
    h1 Web Phone
  //
     /header 
  #one(data-role='content')
    h2 Welcome to webphone!
    p Logging in. Please wait!
  //
     /content 
  div(data-role='footer')
    h5 wTime 2.0
  //
     /footer 
//
   /page one 
//
   Start of first page: #one 
#make-call(data-role='page', data-theme='a')
  div(data-role='header')
    h1 Web Phone
    a#logout-btn.ui-btn-right(href='#', data-role='button', data-icon='delete') Logout
  //
     /header 
  #one(data-role='content')
    h2
      | Welcome to webphone
      span#gui_user
      | !
    p
      | Your phone number is
      span#selfnumber
    p Type in a number below to call
    p
      | Phone Number:
      input#remote_number(type='text')
    button(onclick='do_call();') Make call!
  //
     /content 
  div(data-role='footer')
    h5 wTime 2.0
  //
     /footer 
//
   /page one 
//
   Start of third page: #popup 
#incoming-call(data-role='page', data-theme='b')
  div(data-role='header')
    h1 Incoming Call!
  //
     /header 
  div(data-role='content', data-theme='d')
    span(style='display: block; width: 100%; text-align: center;')
      h2
        span.remote-user User
        | is calling!
    p
      a.incoming-call-answer(href='', data-role='button', data-inline='false', data-icon='check', data-iconpos='right', data-theme='b') Answer!
    p
      a.incoming-call-reject(href='', data-role='button', data-inline='false', data-icon='check', data-iconpos='right', data-theme='e') Reject!
  //
     /content 
  div(data-role='footer')
    h5 eTime 2.0
  //
     /footer 
//
   /page popup 
#outgoing-call(data-role='page', data-theme='a')
  div(data-role='header')
    h1
      | Calling
      span.outgoing-call-user User
  //
     /header 
  div(data-role='content', data-theme='a')
    br
    br
    br
    br
    span(style='display: block; width: 100%; text-align: center;')
      h2
        | Waiting for
        span.remote-user User
        | to answer...
    br
    br
    p
      a.call-hangup(href='', data-role='button', data-inline='false', data-icon='check', data-iconpos='right', data-theme='e') Hang up
  //
     /content 
  div(data-role='footer')
    h5 eTime 2.0
  //
     /footer 
//
   /page popup 
#outgoing-call-rejected(data-role='page', data-theme='a')
  div(data-role='header')
    h1
      | Calling
      span.outgoing-call-user User
  //
     /header 
  div(data-role='content', data-theme='a')
    br
    br
    br
    br
    span(style='display: block; width: 100%; text-align: center;')
      h2
        span.remote-user User
        | rejected the call, or failed to answer, or something else happened.
    br
    br
  //
     /content 
  div(data-role='footer')
    h5 eTime 2.0
  //
     /footer 
//
   /page popup 
#call(data-role='page', data-theme='a')
  div(data-role='header')
    h1
      | Call with
      span.remote-user User
  //
     /header 
  div(data-role='content', data-theme='a')
    #call-audio(style='display: inline;')
      br
      br
      br
      br
      span(style='display: block; width: 100%; text-align: center;')
        h2
          span.call-time Ongoing call...
      p
        a.call-hangup(href='', data-role='button', data-inline='false', data-icon='check', data-iconpos='right', data-theme='e') Hang up
      br
      br
      video#remoteVideo(width='0px', height='0px', style='display: none; position: absolute; top: 0px; left: 0px;', autoplay='autoplay')
  //
     /content 
  div(data-role='footer')
    h5 eTime 2.0
  //
     /footer 
//
   /page popup 

script

  $(function () {

    $("#logout-btn").bind('click', function(e) {
      do_logout();
    });

    $(document).ready( function() {
      console.log('document ready');
      // alert('document ready');
      login(accessToken, selfNumber);
    });
    
  });

