script(src = '/javascript/att.#{version}.js')

#skelPage(data-role='page', data-theme='a')
  div(data-role='header')
    h1 Node Phone
    a#logout-btn.ui-btn-right(href='#', data-role='button', data-icon='delete') Logout
  div(data-role='content')
    h2 Welcome to Node Phone!
    p
      | Your phone number is 
      span#selfnumber
    h2#status Loading...
    | Enter Phone Number:
    input#remote_number(type='text', value='214-717-8973')
    input#call(type='button', disabled='true', value='Call...')
    input#answer(type='button', disabled='true', value='Answer...')
    input#reject(type='button', disabled='true', value='Reject...')
    input#hangup(type='button', disabled='true', value='End Call...')
    input#hold(type='button', disabled='true', value='Place on Hold...')
    input#retrieve(type='button', disabled='true', value='Retrieve Call...')
    | Transfer Number:
    input#transfer_number(type='text')
    input#transfer(type='button', disabled='true', value='Transfer...')
  div(data-role='footer')
    h5 AT&T and Ericsson
    a(href='#info-dialog', data-icon='info', data-rel='dialog') About

div#info-dialog(data-role='page')
  div(data-role='header')
    h1 About
  div(data-role='content')
      p
        | Come play with WebRTC and REAL phone numbers with AT&T and Ericsson.  For more see http://js.att.io and http://apimatrix.tfoundry.com.  For the source repo to this application please see http://github.com/att-innovate/node-phone.  Come re-think possible where communicating is something we do while doing something else...

script

  var accessToken = "#{accessToken}";
  var selfNumber = "#{selfNumber}";
  var version = "#{version}";

  var att;
  var call;
  var a3Key = "75150d708376b91aa5a6119d833b8f3e";
  if(version && version == "a3") {
    accessToken = a3Key;
  } 

  function activateButton(sel, txt) {
    if(txt) {
      sel.val(txt);
    }
    sel.button("enable");
    sel.button("refresh");
  };

  function deactivateButton(sel) {
    sel.button("disable");
    sel.button("refresh");
  };

  function toIdleState() {
    activateButton($("#call"));
    deactivateButton($("#hangup"));
    deactivateButton($("#hold"));
    deactivateButton($("#transfer"));
    $("#status").html("Make a Call...");
  }

  function toRingingState() {
    $("#status").html("Ringing...");
  }

  function toAnswerState() {
    deactivateButton($("#call"));
    activateButton($("#answer"));
    activateButton($("#reject"));
    $("#status").html("Answer Call...");
  }

  function toSpeechState() {
    activateButton($("#hangup"));
    activateButton($("#hold"));
    activateButton($("#transfer"));
    deactivateButton($("#reject"));
    deactivateButton($("#answer"));
    $("#status").html("Active Call");
  }

  function toHoldState() {
    deactivateButton($("#hangup"));
    deactivateButton($("#hold"));
    activateButton($("#retrieve"));
    $("#status").html("Call on Hold...");
  }

  $( '#skelPage' ).live( 'pageinit',function(event){
    console.log("pageinit ready");
    att = $.att({
      version: version,
      apiKey: accessToken,
      onReady: function() {
        console.log("att on ready...");
        if(version && version == "a3") {
          selfNumber = "sip:" + this.sessionId;
        } 
        $("#selfnumber").html(selfNumber);
        toIdleState();
      },
      onUnready: function() {
        console.log("att disconnected...");
      },
      // Phone API Configuration
      phone: {
        // Event Handlers
        onIncomingCall: function(event) {
          call = event.call;
          console.log("Incoming call with ID " + call.id);
          // Answer the call
          toAnswerState();
          console.log("Incoming Call: " + event.call.id);
        },
        onError: function(event) {
          console.log("Phone error: " + e.reason);
        }
      }
    });
  });

  $("#call").click(function(event) {
    
    var number = $("#remote_number").val();
    call = att.phone.dial(number, {
      onRing: function() {
        toRingingState();
      },
      onAnswer: function() {
        toSpeechState();
      },
      onHangup: function() {
        console.log("Hangup Call...");
        call.hangup();
        toIdleState();
      },
      onError: function() {
        console.log("Call Error");
      }
    });
    deactivateButton($("#call"));
    activateButton($("#hangup"));
  });

  $("#answer").click(function(event) {
    console.log("Answer Call...");
    call.answer();
    toSpeechState();
  });

  $("#reject").click(function(event) {
    console.log("Reject Call...");
    call.hangup();
    toIdleState();
  });

  $("#hangup").click(function(event) {
    console.log("Hangup Call...");
    call.hangup();
    toIdleState();
  });

  $("#hold").click(function(event) {
    console.log("Hold Call...");
    call.hold(true);
    toHoldState();
  });

  $("#retrieve").click(function(event) {
    console.log("Retrieve Call...");
    call.hold(false);
    toSpeechState();
  });

  $("#transfer").click(function(event) {
    var number = $("#transfer_number").val();
    call.hold(true);
    call.transferto(number);
    toIdleState();
  });

  $("#logout-btn").bind('click', function(e) {
    att.disconnect();
    $.mobile.changePage("logout");
  });


